@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #0f172a; 
}


body {
  background-color: white !important;
  color: #0f172a;
  margin: 0;
  padding: 0;
  
  overflow-y: auto !important; 
  min-height: 100%;
}

img {
  max-width: 100%;
  display: block;
}